<%- include('../inc/top') %>
        <div class="col-12">
            
                <h3 class="text-success m-2" style="text-align: center;">CÁC SẢN PHẨM MỚI ĐƯỢC THÊM GẦN ĐÂY</h3>    
            
            </div>
        </div>


<%- include('../inc/bot') %>
