<%- include('../inc/top') %>
        <div class="col-12">
                <% if(user!=""){ %>
                        <h3 class="text-success m-2" style="text-align: center;">Wellcome <%= user %></h3>      
                <% } else {%>
                        <h3 class="text-success m-2" style="text-align: center;">Go to Login</h3>      
                        <%}%>
            
            </div>
        </div>


<%- include('../inc/bot') %>
