<h1>Edit</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstarp/css/bootstrap.min.css">
    <style>
        .col-6{    
            margin: 0 auto;
        }
        .col-1{
            margin: 0 auto;
            
            color: #33CCCC;
            font-weight: bold;
        }
        #btn_log{
            margin-left: 330px
        }
        
    </style>
</head>
<body>
    
    <div class="col-1"><h3>
        REGISTER
    </h3></div>
    <% if(msg.length>0){ %>
        <p class="alert alert-info"> <%= msg %></p>
     <% } %>
    <div class="col-6">
        
        <form method="post" action="">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" value="<%=objU.email%>">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label" >Username</label>
                <input type="text" class="form-control" id="username" name="username" value="<%=objU.username%>">
              </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" value="<%=objU.password%>">
            </div>
            <!-- <div class="mb-3">
                <label  class="form-label" >Role</label>
                <input type="number" class="form-control" name="role">
              </div> -->
              <label  class="form-label" >Role</label>
              <select class="form-select" name="role">

                <option value="0">User</option>
                <option value="1">Admin</option>
               
              </select>
            
            <button type="submit" class="btn btn-outline-success" id="btn_log">Sign Up</button>
          </form>
    </div>
</body>
</html>